header {
  background-color: $primary-color;
  .container {
    .header {
      @include flex(space-between);
      padding: 25px 5%;
      nav {
        ul {
          @include flex();
          gap: 35px;
          li {
            a {
              color: $secondary-color;
              &:hover {
                color: bisque;
              }
            }
            padding: 10px;
            border-radius: 10px;
            &:hover {
              background-color: rgb(66, 66, 243);
            }
            transition: 1.5s;
          }
        }
      }
      .fa-bars {
        display: none;
        color: $secondary-color;
        cursor: pointer;
      }
      .contact-btn {
        @extend %button;
        &:hover {
          background-color: azure;
          color: black;
        }
        transition: 1.5s;
      }
      @media screen and (max-width: 767px) {
        .fa-bars {
          display: block;
        }
        nav,
        .contact-btn {
          display: none;
        }
      }
    }
  }
}
